// Specific CSS for your home-page


//cards


.cards {
  //min-height: 150px;
  overflow: hidden;
  display: flex;


}

.card-category {

   box-shadow: 10px 10px 10px #888888;

  // new css to see if it works
  //color: yellow;
  margin-right: 50px;
  text-align: center;
  align-items: center;
  flex: 0.5;
  font-size: 45px;
  background-size:cover;
  background-position: center;

  background-image: url("https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fcommunity-cdn-digitalocean-com.global.ssl.fastly.net%2Fassets%2Ftutorials%2Fimages%2Flarge%2FRubyonRails_tw_mostove.png%3F1468952973&f=1");


  transition:
  font-size 0.7s cubic-bezier(0.60,-0.30, 0.7, -0.11),
  flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
  background 0.2s;


  //border: 1px solid blue;
  justify-content: center;
  align-items: center;
  //display:flex;
  flex-direction:column;
}

//flex child

.card-category > * {

  //width: 100%;
  transition:transform 0.5s;
  //border: 1px solid;
  flex: 1 0 auto;
  display:flex;
  justify-content: center;
  align-items: center;
}

.card-category > *:first-child { transform: translateY(-100%); }

.card-category.open-active > *:first-child { transform:translateY(0); }

.card-category > *:last-child { transform: translateY(240%); }

.card-category.open-active > *:last-child { transform: translateY(0); }

//
.card-category.open {
  flex: 1;
  font-size: 40px;
}






//contianer
.what{
 text-align: center;
 margin:20px;
}

.banner {
  background-size: 100vh;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

#banner-typed-text {
  font-size:35px;
  font-family: bold;
}


//cards


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .card-category {
    grid-template-columns: 1fr 1fr;

  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .card-category {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .card-category {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .card-category {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
