// Specific CSS for your home-page


//cards


.cards {
  min-height: 250px;
  overflow: hidden;
  display: flex;
}

.card-category {


  // new css to see if it works
  //color: yellow;
  margin-right: 50px;
  text-align: center;
  align-items: center;
  flex: 0.5;
  font-size: 50px;
  background-size:cover;
  background-position: center;

  background-image: url("https://images.unsplash.com/photo-1557121066-f82d37cabc43?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80");


  transition:
  font-size 0.7s cubic-bezier(0.60,-0.19, 0.7, -0.11),
  flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
  background 0.2s;


  border: 1px solid blue;
  justify-content: center;
  align-items: center;
  display:flex;
  flex-direction:column;
}

//flex child

.card-category > * {

  width: 100%;
  transition:transform 0.5s;
  border: 1px solid;
  flex: 1 0 auto;
  display:flex;
  justify-content: center;
  align-items: center;
}

.card-category > *:first-child { transform: translateY(-100%); }

.card-category.open-active > *:first-child { transform:translateY(0); }

.card-category > *:last-child { transform: translateY(100%); }

.card-category.open-active > *:last-child { transform: translateY(0); }

//
.card-category.open {
  flex: 5;
  font-size: 40px;
}






//contianer
.what{
 text-align: center;
 margin:20px;
}

.banner {
  background-size: 100vh;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

#banner-typed-text {
  font-size:35px;
  font-family: bold;
}


//cards

.card-category {
  //margin:50px;
  //padding:50px;
  //background-size: cover;
  //background-position: center;
  //height: 180px;
  //display: flex;
  //justify-content: center;
  //align-items: center;
  //color: white;
  //font-size: 24px;
  //font-weight: bold;
  //text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  //border-radius: 5px;
  //box-shadow: 0 0 15px rgba(0,0,0,0.2);
}


//.cards {
  //display: grid;
  //grid-template-columns: 1fr 1fr 1fr;
  //grid-gap: 16px;
//}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
