.item1{
  height:350px;
  width: 450px;
  background-image: url('https://images.unsplash.com/photo-1558022155-868f60aba51d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80');
}



// adding code to the drag on scroll
.items {
  height:800px;
  padding: 100px;
  width:100%;
  border:1px solid white;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  transition: all 0.2s;
  transform: scale(0.98);
  will-change: transform;
  position: relative;
  background: rgba(255,255,255,0.1);
  font-size: 0;
  perspective: 500px;
}



.items.active {
  background: rgba(255,255,255,0.3);
  cursor: grabbing;
  cursor: -webkit-grabbing;
  transform: scale(1);
}


.item {
  width:300px;
  height: calc(100% - 40px);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  font-weight: 100;
  color:rgba(0,0,0,0.15);
  box-shadow: inset 0 0 0 10px rgba(0,0,0,0.15);
}


/// this is for the color
.item:nth-child(9n+1) { background-image: url('https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fs3.amazonaws.com%2Fviking_education%2Fweb_development%2Fprep_coding%2Fruby_small.jpg&f=1');}
.item:nth-child(9n+2) { background-image:url('https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fhumancoders-formations.s3.amazonaws.com%2Fuploads%2Fcourse%2Flogo%2F1%2Fformation-ruby-on-rails.png&f=1');}
.item:nth-child(9n+3) { background-image:url('https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fgit-for-windows.github.io%2Fimg%2Fgit_logo.png&f=1'); }
.item:nth-child(9n+4) { background: gold; }
.item:nth-child(9n+5) { background: cadetblue;}
.item:nth-child(9n+6) { background: tomato;}
.item:nth-child(9n+7) { background: lightcoral;}
.item:nth-child(9n+8) { background: darkslateblue;}
.item:nth-child(9n+9) { background: rebeccapurple;}


/// con esto conseguimos cambiarle la forma de los items! a los pares e impares
.item:nth-child(even) { transform: scaleX(1.34) rotateY(40deg); }
.item:nth-child(odd) { transform: scaleX(1.31) rotateY(-45deg); }
