
 <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1550482781-48d477e61c72?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);">
  <div class="container">

<p>
  <span id="banner-typed-text"></span>
</p>

  </div>
</div>

<h1 class="what">My Work</h1>

<!-- adding code to cards  wich are actually my apps-->

<div class="container">

  <div class="cards">
  <div class="card-category">
    <p>Foodie, The tinder for food</p>
    <p>Ruby, Js, RoR </p>
    <p><a href="https://github.com/Nerfi/Try_to_code4">See more</a></p>
  </div>

  <div class="card-category" >
    <p>Try to code4</p>
    <p>Ruby, RoR, Js</p>
    <p><a href="https://github.com/Nerfi/Try_to_code4">Check out!</a></p>
  </div>

  <div class="card-category" >
    <p>NerfShop,(ecomerce)</p>
    <p>Ruby, RoR, Js</p>
    <p><a href="https://nerfshop.herokuapp.com/">Check out!</a></p>
  </div>
</div>
</div>


