<div class="banner2" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1557588409-53e9724e4e99?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);">
  <div class="container">
    <h1>About the Author <br>Juan Fco Paredes <strong> </strong>!</h1>

    <a class="btn btn-success" href="#">Apply now</a>
  </div>
</div>


<div class="site-wrap">
<body class="new">
   <h1>About the Author</h1>


    <p>A junior software engenieer graduated From the coding School of Lewagon <a href="https://www.lewagon.com/">Check it out for yourself</a> With a passion in Travelling, Martials arts and in people!</p>


    <img src="https://images.unsplash.com/photo-1498354178607-a79df2916198?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" class="align-left slide-in">




    <p> After Attending the coding bootcamp for 9 weeks of intese training, we learn: HTML, CSS, Bootstrap, JavaScript ES2015, SQL, git, GitHub, Heroku and Ruby on Rails. Designed, Implemented and Shipped to production a clone of AirBnB and a Rails prototype
    <a href="https://www.foodi.tips/">Check what we build at the end!</a></p>

    <img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.zNioNQzGOwsKcnGzeNr23wHaHa%26pid%3DApi&f=1" class="align-right slide-in">





    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio maiores adipisci quibusdam repudiandae dolor vero placeat esse sit! Quibusdam saepe aperiam explicabo placeat optio, consequuntur nihil voluptatibus expedita quia vero perferendis, deserunt et incidunt eveniet <img src="https://images.unsplash.com/photo-1496979551903-46e46589a88b?ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80" class="align-right slide-in"> temporibus doloremque possimus facilis. Possimus labore, officia dolore! Eaque ratione saepe, alias harum laboriosam deserunt laudantium blanditiis eum explicabo placeat reiciendis labore iste sint. Consectetur expedita dignissimos, non quos distinctio, eos rerum facilis eligendi. Asperiores laudantium, rerum ratione consequatur, culpa cons Laboriosam rem, ratione. Autem blanditiis</p>


    <p>laborum nequeratione eveniet, provident pariatur. Veniam quasi expedita distinctio, itaque molestiae sequi, dolorum nisi repellendus quia facilis iusto dignissimos nam? Tenetur fugit quos autem nihil, perspiciatis expedita enim tempore, alias ab maiores quis necessitatibus distinctio molestias eum, quidem. Delectus impedit quidem laborum, fugit vel neque quo, ipsam, quasi aspernatur quas odio nihil? Veniam amet reiciendis blanditiis quis reprehenderit repudiandae neque, ab ducimus, odit excepturi voluptate saepe ipsam. Voluptatem eum error voluptas porro officiis, amet! Molestias, fugit, ut! Tempore non magnam, amet, facere ducimus accusantium eos veritatis neque.</p>


  </div>



</body>
