  <h2 class="experience">A Dev with Experience in</h2>
<div class="items">
  <div class="item item1">
Ruby
  </div>

  <div class="item item2">Rails</div>
  <div class="item item3">Git</div>
  <div class="item item4">Heroku</div>
  <div class="item item5">Psql</div>
  <div class="item item6">Boostrap</div>
  <div class="item item7">HTML,JS</div>
  <div class="item item8">CSS</div>
</div>
