<div class="items">
  <div class="item item1">
Ruby
  </div>

  <div class="item item2">Rails</div>
  <div class="item item3">Git</i>
</div>
  <div class="item item4">Heroku</div>
  <div class="item item5">Boostrap</div>
  <div class="item item5">Boostrap</div>
  <div class="item item5">Boostrap</div>
</div>
